<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>
        RSA Algorithm
    </description>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>GenerateKeys</servlet-name>
        <servlet-class>br.edu.fafic.bcc.bcc.sas.rsaalgorithm.servlets.GenerateKeys</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateKeys</servlet-name>
        <url-pattern>/GenerateKeys</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <pageEncoding>utf-8</pageEncoding>
            <include-prelude>header.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
